@model IEnumerable<AccountManager.Domain.Entities.Accounts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bank.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountBalance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountsId })
        </td>
    </tr>
}

</table>
